.reset-card {
    border: none !important;
    position: absolute !important;
    width: 35% !important;
    top: 20% !important;
    left: 10% !important;
  }
  
  .forgot-card {
    border: none !important;
    position: absolute !important;
    width: 35% !important;
    top: 20% !important;
    left: 10% !important;
  }
  
  .my-icon-box {
    background-color: #fff !important;
    color: #0B5ED7 !important;
    border-color: black !important;
  }